//out:hypot.css,compress:true,libs:nib
@import 'node_modules/nib'
@import url(https://molarmanful.github.io/ESMin/dvsm.css)

expr
  font-family dvsm
  display inline-block
  f
    display inline-flex
    flex-direction column
    font-size .75em
    align-items center
    vertical-align middle
    n
      text-align center
      width 100%
      border-bottom 1px solid
      order 1
    d
      text-align center
      order 2

  sum
    display inline-flex
    flex-direction column
    align-items center
    vertical-align middle
    i
      font-size .75em
      font-style normal
      order 3
    l
      font-size .75em
      order 1
  sum:before
    content '∑'
    font-size 2em
    order 2

  lim
    display inline-flex
    flex-direction column
    align-items center
    i
      font-size .75em
      font-style normal
  lim:before
    content 'lim '
    font-weight bold
    white-space pre
    font-size .9em

  int
    display inline-flex
    flex-direction column
    align-items center
    vertical-align middle
    l
      font-size .75em
      order 3
    u
      font-size .75em
      text-decoration none
      order 1
  int:before
    content '∫'
    font-size 2em
    order 2
  ev
    l
      position relative
      font-size .75em
      vertical-align bottom
      right .5em
    u
      position relative
      font-size .75em
      text-decoration none
      vertical-align top
      right 1.1em
  ev:before
    content '|'
    font-size 2em

  rt
    r:before
      content '√'
      font-size 2em
      vertical-align middle
    r:after
      width 100%
      border-top 1px solid
